body {
    padding-top: 50px;
    background: #CFD8DC;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.header-select {
    min-width: 300px;
}

.selects {
    margin-top: 10px;
}
.list-group-item:hover {
    font-weight: bold;
}

#changing-content {
    margin-top: 5px;
}