<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Design Pattern Learning Tool</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"></link>
    <link href="main.css" rel="stylesheet">
    <link rel="stylesheet" href="main.css" type="text/css"/>
    </link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="handlebars.js"></script>
    <script src="index.js"></script>
    <script src="https://select2.github.io/select2/select2-3.5.1/select2.js"></script>
    <link rel="stylesheet select2" href="https://select2.github.io/select2/select2-3.5.1/select2.css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script id="welcome-template" type="text/x-handlebars-template">
        <div class="panel panel-primary" id="welcome">
            <div class="panel-body">
                <h3>Welcome to our Design Pattern Learning Tool!</h3>
                <p>You can use the list at the top to choose a specific design pattern.
                    You can also search for the patterns by entering relevant keywords to the search field below it.</p>
                <p>Made by Hannes Hietanen, Harri Kuittinen, Samuli Siitonen, Anton Simola and Kai Tujula in spring
                    2017</p>
            </div>
        </div>
    </script>

    <script id="search-result-template" type="text/x-handlebars-template">
        <ul class="list-group">
            {{#each this}}
            <li class="list-group-item" onclick="onSearchResultItemClick({{json this}})">{{this.name}}</li>
            {{/each}}
        </ul>
    </script>

    <script id="design-pattern-view-template" type="text/x-handlebars-template">
        <div>
            <div class="page-header">
                <h1>{{name}}</h1>
                <div>
                    {{#each designPrinciples}}
                    <span class="label label-default principle-popover" data-toggle="popover" title="{{name}}"
                          data-content="{{description}}">{{name}}</span>
                    {{/each}}
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-body">{{description}}</div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-body">{{example}}</div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">UML</div>
            </div>
            <div class="panel-body">
                <img class="img-responsive center-block" id="uml-image" src="{{umlPath}}"/>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Video tutorial</div>
            </div>
            <div class="panel-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{youtube}}"></iframe>
                </div>
            </div>
        </div>
    </script>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Design Pattern Learning Tool</a>
        </div>
        <form class="navbar-search navbar-left">
            <div class="input-prepend selects">
                <select class="header-select" id="nameSelect" onchange="nameSelectionChanged()">
                    <option selected="selected">---Select pattern by name---</option>
                </select>
                <span class="badge">or</span>
                <select class="header-select" id="tagSelect" data-placeholder="Search with keywords" multiple="multiple"
                        onchange="tagSelectionChanged()"></select>
            </div>
        </form>
    </div>
</nav>
<div class="container">
    <div id="changing-content"></div>
</div>
</body>
</html>